celery==4.4.2
git+https://github.com/czue/celery-progress@f56e19410a3be458de37e38e74f3a720cac5252f#egg=celery-progress
chembl_webresource_client==0.10.3
git+https://github.com/chembl/ChEMBL_Structure_Pipeline.git@ba3cd2ca36bfbc1103c953a39afdfe070e6f05a9#egg=chembl_structure_pipeline
Django==2.2.20
django-celery-model==0.2.1
django-celery-results==1.1.2
django-polymorphic==2.1.2
djangorestframework==3.11.2
drf-yasg==1.17.0
django-rest-auth==0.9.5
django-allauth==0.41.0
django-cors-headers==3.2.1
git+https://github.com/martin-sicho/DrugEx.git@feature/api#egg=drugex
redis==3.3.11
requests==2.22.0
scikit-learn==0.22.1
joblib==0.14.1
pandas==0.25.3
seaborn==0.9.0
tqdm==4.41.1
psycopg2-binary==2.8.4
git+https://github.com/rdkit/django-rdkit.git@2565d4bf831bf43c997d81b3aa1a39842b7f56b1#egg=django-rdkit
opentsne==0.3.12
gunicorn==20.0.4
nvgpu==0.9.0
umap-learn==0.5.1