celery==5.2.3
celery-progress==0.1.2
chembl_webresource_client==0.10.7
git+https://github.com/chembl/ChEMBL_Structure_Pipeline.git@8d599ad389a458c002be9fd8353a91ebaf370743#egg=chembl_structure_pipeline
Django==4.0.7
git+https://github.com/martin-sicho/django-celery-model.git@1f606293e959960bdd769e5760140b83f609801a#egg=django-celery-model
django-celery-results==2.3.0
django-polymorphic==3.1.0
djangorestframework==3.13.1
drf-yasg==1.20.0
dj-rest-auth==2.2.3
django-allauth==0.49.0
django-cors-headers==3.11.0
git+https://github.com/martin-sicho/DrugEx.git@feature/api#egg=drugex
redis==4.1.4
requests==2.27.1
scikit-learn==1.0.2
joblib==1.1.0
pandas==1.4.1
psycopg2-binary==2.9.3
git+https://github.com/rdkit/django-rdkit.git@v0.3.1#egg=django-rdkit
opentsne==0.6.1
gunicorn==20.1.0
nvgpu==0.9.0
drf-extensions==0.7.1
umap-learn==0.5.2